.footer {
  background: #023253;
  color: #A0A0A0;
  padding: 0 20px 10px 20px;
  border-top: 4px solid #497A9C;
  margin-top: 20px;
  -webkit-box-shadow: 0 -1px 12px rgba(0,0,0,0.4);
  -moz-box-shadow: 0 -1px 12px rgba(0,0,0,0.4);
  box-shadow: 0 -1px 12px rgba(0,0,0,0.4);
  color: 0 -1px 12px rgba(0,0,0,0.4);
  /*custom*/
  margin-top: 0px;
}
.footer h3 {
  color: #E4E4E4;
  font-size: 1.3em;
  border-bottom: 1px dotted #7C7C7C;
}
.footer ul {
  padding: 0;
}
.footer-navigate-section li {
  line-height: 20px !important;
}
.footer-stay-connected a {
  text-align: left;
  text-indent: -9999px;
  display: block;
  width: 115px;
  height: 40px;
  background: url(../img/stay-connected.html);
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
  -webkit-transition: opacity .25s linear;
  -moz-transition: opacity .25s linear;
  -o-transition: opacity .25s linear;
  -ms-transition: opacity .25s linear;
  transition: opacity .25s linear;
}
.footer-stay-connected a:hover {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.footer-stay-connected a.facebook {
  background-position: -115px 0;
}
.footer-stay-connected a.twitter {
  background-position: -230px 0;
}
.footer-stay-connected a.googleplus {
  background-position: 0 0;
}
.footer-stay-connected li {
  text-align: center;
}
.footer-copyright {
  text-align: center;
  color: #7C7C7C;
  /*border-top: 1px dotted #7C7C7C;*/
  padding-top: 10px;
  font-size: 0.9em;
}


.contact-form {
		margin: 3em 0;
	}
	select {
	  display: inline-block;
	  background: none;
	  border:solid 1px #999999;
	  border-radius:10px;
	  width: 100%;
	  outline: none;
	  padding:.5em;
	  font-size: .9em;
	  color: #000000;
	  margin-bottom: 1.5em;
	}

	.contact-form input[type="password"] {
	  display: inline-block;
	  background: none;
	  border:solid 1px #999999;
	  width: 100%;
	  border-radius:10px;
	  outline: none;
	  padding:.5em;
	  font-size: .9em;
	  color: #000000;
	  margin-bottom: 1.5em;
	}

	.contact-form input[type="file"] {
	  display: inline-block;
	  background: none;
	  border:solid 1px #999999;
	  border-radius:10px;
	  width: 100%;
	  outline: none;
	  padding:.5em;
	  font-size: .9em;
	  color: #000000;
	  margin-bottom: 1.5em;
	}

	.contact-form input[type="number"] {
	  display: inline-block;
	  background: none;
	  border:solid 1px #999999;
	  border-radius:10px;
	  width: 100%;
	  outline: none;
	  padding:.5em;
	  font-size: .9em;
	  color: #000000;
	  margin-bottom: 1.5em;
	}
	 
	input[type=text]:focus,input[type=number]:focus,input[type=password]:focus,input[type=email]:focus,input[type=file]:focus,select:focus, textarea:focus {
	  box-shadow: 0 0 10px rgba(81, 203, 238, 5);
	  border: 2px solid rgba(81, 203, 238, 5);
	}

	.contact-form input[type="text"] {
	  display: inline-block;
	  background: none;
	  border:solid 1px #999999;
	  width: 100%;
	  outline: none;
	  border-radius:10px;
	  padding:.5em;
	  font-size: .9em;
	  color: #000000;
	  margin-bottom: 1.5em;
	}
	.contact-form input[type="email"] {
	  display: inline-block;
	  background: none;
	  border:solid 1px #999999;
	  width: 100%;
	  border-radius:10px;
	  outline: none;
	  padding:.5em;
	  font-size: .9em;
	  color: #000000;
	  margin-bottom: 1.5em;
	}
	.contact-form textarea {
	  display: inline-block;
	  background: none;
	  border:solid 1px #999999;
	  width: 100%;
	  border-radius:10px;
	  outline: none;
	  padding:.5em;
	  font-size: .9em;
	  color: #000000;
	  margin-bottom: 1.5em;
	  min-height:100px;
	}
	button.btn1{
		color: #ffffff;
		font-size: 1em;
		padding: .5em 1em;
		border: solid 1px #fbd232;
		text-align: center;
		text-decoration: none;
		background: #023253;
		width:100%;
		border-radius:10px;
		transition: 0.5s all;
		-webkit-transition: 0.5s all;
		-moz-transition: 0.5s all;
		-o-transition: 0.5s all;
		-ms-transition: 0.5s all;
	}

header {
	margin-bottom:30px;
}
body{
	padding: 20px 0px !important;
    font-family: 'Lato', sans-serif;
   /* background-image: url('../img/grid.png'); */
}
 a{
  color: #337ab7;
  text-decoration: none;
}


.navbar{
	background-color: #023253;
	border:none;
  min-height: 75px;
	padding-bottom: 0px !important;
}
.top-nav-collapse{
	box-shadow: 0px 2px 5px #000;
}
.navbar-nav ul>li>a:hover{color: #34495e}

.navbar-brand {
    float: left;
    height: 35px;
    padding: 20px 15px;
    font-size: 18px;
    min-width: 400px;
    line-height: 20px;
  }
.navbar-brand h1{
  margin-top: -50px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;}


.navbar-brand img.lg-logo{
        float: left;
        margin: 18px 15px 15px 0px;
        width: 80px;
        -webkit-transition-property: all, all; /* Safari */
    -webkit-transition-duration: .5s; /* Safari */
    transition-property: width, height;
    transition-duration: .5s;
    }
.navbar-brand .sm-brand{
margin-top:-15px; font-size:40px;
}
.navbar-brand .sm-brand small{
  position: relative;
  top:-20px;
    }
.navbar-brand img.sm-logo{
  float: left; 
  margin: 0px 15px 15px 0px;
  width: 50px;      
  
}
ul.nav> li:hover ul{
    display: block;
}
.lg-brand{
    font-size: 32px;
}
ul.nav>li>a{color:#fff}
ul.nav>li>a:hover{
  color: #34495e;
}
@media(max-width:767px) {
.navbar-default .navbar-nav .open .dropdown-menu>li>a{
  color: #f2f2f2;
}

  }


ul.nav>li>a{color:#fff !important;}
ul.nav>li>a:hover{
  color: #ffffff !important;
}
.dropdown-menu>li>a{color: #34495e;}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
  color: #ffffff !important;
  background-color:transparent;
}
ul.nav-tabs>li>a ,ul.nav-stacked>li>a{
  color: #02325d !important;
  text-decoration: none;
}

.navbar-nav>li>a {
 
    
    position: relative;
    top: 13px;
}
#myCarousel{
  margin-top: 61px;
  height: 250px;
}
@media(min-width:767px) {
  #myCarousel{
  margin-top: 91px;
  height: 250px;
}
}
.carousel-caption {
  right: -60% !important;
  left: 20% !important;
  padding-bottom: 0px;
  }
.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: -20px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0,0,0,.6);
}
p{
  color: #34495e;
}
#page-content{
	margin-top: 50px;
}
#page-content .container{
  box-shadow: 0px 0px 10px #ddd;
  padding: 15px;
}
#page-content p, #main-content p{
  font-size: 14px;
}
h1,h2,h3{
	padding: 0 !important;
	color: #023253;
}
h1 small,h2 small,h3 small{
	font-size: 50%;
	color: inherit;
}
.bottom-line{
    border-bottom: 1px solid #eee;
}
h1{
	font-size: 32px;
}
h3{
	font-size: 18px;
	font-weight: 200;
}
h2{
	font-size: 24px;
	font-weight: 200;
}
/*
 * See it in action here: http://jsfiddle.net/seydoggy/6s92p51a/
 */
.list-group.panel > .list-group-item {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px
}
.list-group-submenu {
  margin-left:20px;
}
th,td{
	text-align: center;
}

 .shadow-box{
  box-shadow: 0px 0px 10px #ddd;
  padding: 15px;
}
.shadow{
  box-shadow: 0px 0px 10px #ddd;
}


.prof-photo{
  width:120px;
  height:110px;
  border: #ddd 2px solid;
  border-radius: 3px;
   position:relative;
}


.midpage {
  position: relative;
  bottom: 10px;
  /*width: 350px;*/
  /* Set the fixed height of the footer here */
  height: 380px;
  background: 
  /* color overlay */ 
    linear-gradient(
      rgba(239, 238, 231, 0.45),
      rgba(181, 176, 176, 0.45)
    ),
    /* image to overlay */
    url(../images.cdn.fotopedia.com/_avPIZmqM3w-7z161LH_268-hd.html);
}


.container1 {
  width: 100%;
 
  padding: 0 15px;
}
.container1 .text-muted {
  margin: 20px 0;
}
.footertext {
  color: #333;
  text-align: center;
}

.btn-text2 { color: #fff;
  background-color: #446CB3;
  border-color: #2e6da4;}

  .btn-text { color: #34495e;
  background-color: #E4F1FE;
  border-color: #E4F1FE;
}

.side-icon{
	height: 150px;

}
.side-icon img{
	margin:0 auto;
	width:150px;
}
ul.side-links{
   margin-left: -40px;
}
ul.side-links li{
 
  list-style: none;
  padding: 5px;
  float: none;

}

/* Custom footer CSS
-------------------------------------------------- */

#footer {
  margin-top: 20px;
  background: rgba(108, 122, 137,1);
  padding: 17px 0 18px 0;
  }
#footer a,#footer p {

  color: rgb(230, 239, 239);
}
#footer a:hover {
  color: #efefef;
}

ul.acadmtech li
{
  display: inline-block;
  font-size: 12px;
  text-transform: capitalize;
}
ul.acadmtech li::before
{
  content:'\ffed';
  margin-right: 5px;
  margin-left: 10px;
}